body{
    background-color:white;
}

/*HEADER*/

.header{
    display: flex;
    height:64px;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
}

.logo-section{
    display:flex;
    margin-left: 24px;
}

.header-heading{
    font-size: 32px;
    align-items: center;
}

.header-span{
    color:gray;
}

.links-section{
    display:flex;
    margin-right: 24px;
    align-items: center;
}

.link{
    margin-left: 16px;
}

/*BANNER*/

.banner{
    background-color: rgba(34, 57, 158, 0.432);
    display:flex;
    margin-top:64px;
    
}

.banner-img-container{
    width: 60%;
    margin: 32px 24px;
    overflow: hidden;
}

.banner-img-container img{
    display:block;
    width:100%;
    height:100%;
}

.banner-text-container{
    width:40%;
    text-align: left;
    position: relative;
    
}

.banner-button{
    background-color: rgba(2, 20, 26, 0.432);
    text-align: center;
    padding: 8px 0 8px 0;
}

.banner-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* ABOUT SECTION */

.about-section{
    display:flex;
    background-color: rgba(109, 109, 177, 0.459);
    padding:0;
    margin:0;
    
}

.left-container{
    width:60%;
    overflow: hidden;
}

.left-img-container{
    width:100%;
    margin:32px 24px;
    overflow: hidden;
}

.left-container img{
    display:block;
    width:100%;
    height:100%;
}

.left-text-container{
    margin:32px 24px;
}

.left-text-container h1,p{
    margin-top:24px;
}

.right-section{
    width:40%;
    overflow: hidden;
    margin-top:32px;
}

.right-container-1,.right-container-2,.right-container-3{
    display:flex;
}

.right-container-2, .right-container-3{
    border-top: 1px solid gray;
}

.img-container{
display: block;
  width: 35%;
  margin: 16px;
}

.img-container img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-3{
    width: 100%;
    border:hotpink;
    overflow: scroll;
}



/*CLASSES SECTION*/

.classes-section{
    display:block;
    width:100%;
    margin:auto;
    background-color: rgba(34, 57, 158, 0.432);
}

.classes-section h1{
    margin-top:32px;
    text-align: center;
}

.class-image-container{
margin:auto;
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
padding:32px 72px;
}

.class{
    max-width:30%;
    height:auto;
    overflow: hidden;
    background-color: white;
    margin:16px;
}

.class img{
    width:100%;
}

.class-subject{
    text-align: left;
    margin: 16px;
}

.class-heading{
margin:8px 16px;
text-align: left;
}

.class-description{
    margin-top: 8px;
    margin-bottom:16px;
    margin-left:16px;
}

/*THESIS SECTION*/

.thesis-section{
    background-color: rgba(109, 109, 177, 0.459);
    padding:32px 24px;
    border-bottom: 1px solid gray;
}

.thesis-title{
    margin:32px auto;
    text-align: center;
}
.thesis-container{
    display:flex;
}

.thesis-left-container{
    display:block;
    width:60%;
    margin:32px 24px;
    overflow:hidden;
}

.thesis-left-container video{
    width:100%;
}

.thesis-left-heading{
    top:0;
    margin-bottom:8px;
}

.thesis-right-container{
    margin:32px 24px;
    display:block;
    width:40%;
}

.mini-section-1,.mini-section-2{
    display:flex;
}

.mini-section-image-container-1,.mini-section-image-container-2{
    width:35%;
    margin:16px;
    height:auto;
}

.mini-section-image-container-1 img,.mini-section-image-container-2 img{
    width:100%;
}

.mini-section-1{
    border-bottom:1px solid gray;
}

.mini-section-text-container{
    width:65%;
    text-align: left;
}

/*FOOTER*/

.footer{
    display:flex;
    padding:16px 24px;
    justify-content: space-between;
    background-color: rgba(109, 109, 177, 0.459);
}

.footer-right-text{
    display:flex;
}

.right-text-1{
margin-right:5px;
}
