html{
    font-size:16px;
}

@font-face{
    font-family:'noto sans', sans-serif;
    src: url('resources\fonts\Noto_Sans\NotoSans-Regular.ttf') format('truetype');
}

body{
    background-color:white;
}

h1{
    font-family: 'noto sans',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    font-family: 'noto sans',sans-serif;
    font-size: 1.25rem;
}

.quote{
    font-style: italic;
}

/*HEADER*/

.mobile-header{
    display: none;
}

.header{
    display: flex;
    height:4rem;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
    opacity:75%;
}

.logo-section{
    display:flex;
    margin-left: 1.5rem;
}

.header-heading{
    font-size: 2rem;
    align-items: center;
}

.header-span{
    color:gray;
}

.links-section{
    display:flex;
    margin-right: 1.25rem;
    align-items: center;
}

.link{
    margin-left: 1rem;
}

.nav{
    color:black;
    text-transform:uppercase;
    text-decoration: none;
}

.nav:hover{
    color:rgba(109, 109, 177, 0.459);
}

/*BANNER*/

.banner{
    background-color: rgba(34, 57, 158, 0.432);
    display:flex;
    margin-top:4rem;
}

.banner-img-container{
    width: 60%;
    margin: 2rem 1.25rem;
    overflow: hidden;
}

.banner-img-container img{
    display:block;
    width:100%;
    height:100%;
}

.banner-text-container{
    width:40%;
    text-align: left;
    position: relative;
    
}

.banner-button{
    background-color: rgba(109, 109, 177, 0.459);
    padding: 1rem 0.5rem 1rem 0.5rem;
border: 0.0625rem solid black;
    text-align: center;
}

.banner-button a{
    color:black;
    text-decoration: none;
}

.banner-button:hover{
    background-color: white;
    text-transform: uppercase;
}

.banner-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'noto sans', sans-serif;
}

.banner-heading{
    font-family:'noto sans', sans-serif;
    font-size:1.25rem;
}

.banner-motto{
    font-family: 'noto sans', sans-serif;
    font-size:1.125rem;
}

/* ABOUT SECTION */

.about-section{
    display:flex;
    background-color: rgba(109, 109, 177, 0.459);
    padding:0;
    margin:0;
    
}

.left-container{
    width:60%;
    overflow: hidden;
}

.left-img-container{
    width:100%;
    margin:2rem 1.5rem;
    overflow: hidden;
}

.left-container img{
    display:block;
    width:100%;
    height:100%;
}

.left-text-container{
    margin:2rem 1.5rem;
}

.left-text-container h1{
    font-family:'noto-sans', sans-serif;
    font-size: 1.25rem;
}
.left-text-container h1,p{
    margin-top:1.5rem;
}

.right-section{
    width:40%;
    overflow: hidden;
    margin-top:2rem;
}

.right-container-1,.right-container-2,.right-container-3{
    display:flex;
}

.right-container-1:hover,.right-container-2:hover,.right-container-3:hover{
    background-color:rgba(34, 57, 158, 0.432) ;
}

.right-container-2, .right-container-3{
    border-top: 0.0625rem solid gray;
}

.img-container{
    display:block;
  width: 35%;
  margin: 1rem;
}

.img-container img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-3{
    width: 100%;
    height:auto;
    overflow: hidden;
}

.read-more{
    color:rgba(255, 255, 255, 0.644);
    text-decoration: none;
}

.read-more:hover{
    font-weight:bold;
    font-size:larger;
}

/*CLASSES SECTION*/

.classes-section{
    display:block;
    width:100%;
    margin:0;
    background-color: rgba(34, 57, 158, 0.432);
}

.classes-section h1{
    margin:0;
    top:0;
    padding-top:2rem;
    text-align: center;
}

.class-image-container{
margin:auto;
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
padding:2rem 4.5rem;
}

.class{
    max-width:30%;
    height:auto;
    overflow: hidden;
    background-color: white;
    margin:1rem;
}

.class:hover{
    background-color:rgba(109, 109, 177, 0.459) ;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.class img{
    width:100%;
}


.class-subject{
    text-align: left;
    margin: 1rem;
}

.class-heading{
margin:0.5rem 1rem;
text-align: left;
}

.class-description{
    margin-top: 0.5rem;
    margin-bottom:1rem;
    margin-left:1rem;
    margin-right: 1rem;
}

/*THESIS SECTION*/

.thesis-section{
    background-color: rgba(109, 109, 177, 0.459);
    padding:2rem 1.5rem;
    border-bottom: 0.0625rem solid gray;
}

.thesis-title{
    margin:2rem auto;
    text-align: center;
}
.thesis-container{
    display:flex;
}

.thesis-left-container{
    display:block;
    width:60%;
    margin:2rem 1.5rem;
    overflow:hidden;
}

.thesis-left-container video{
    width:100%;
}

.thesis-left-heading{
    top:0;
    margin-bottom:0.5rem;
}

.thesis-right-container{
    margin:2rem 1.5rem;
    display:block;
    width:40%;
}

.mini-section-1,.mini-section-2{
    display:flex;
}

.mini-section-1:hover, .mini-section-2:hover{
    background-color: rgba(109, 109, 177, 0.459);
}

.mini-section-image-container-1,.mini-section-image-container-2{
    width:35%;
    margin:1rem;
    height:auto;
}

.mini-section-image-container-1 img,.mini-section-image-container-2 img{
    width:100%;
}

.mini-section-1{
    border-bottom:0.0625rem solid gray;
}

.mini-section-text-container{
    width:65%;
    text-align: left;
}

/*FOOTER*/

.footer{
    display:flex;
    padding:1rem 1.5rem;
    justify-content: space-between;
    background-color: rgba(109, 109, 177, 0.459);
}

.footer-right-text{
    display:flex;
    align-items: center;
}

.right-text-1{
margin-right:2rem;
}

.right-text-1 a, .right-text-2 a{
color:black;
text-decoration: none;
}

.right-text-1 a:hover, .right-text-2 a:hover{
font-size: larger;
font-weight: bold;
}

/*  MEDIA QUERIES*/

@media screen and (max-width: 680px) {
    html {
      font-size: 8px;
    }

    /*Header*/
    .mobile-header{
        height:64x;
        width: 100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        background-color: white;
        opacity: 75%;
        top:0;
    }
    .header{
        display: none;
    }
    /*Banner*/
    .banner{
        flex-direction: column;
        width:100%;
    }

    .banner-img-container{
        width:100%;
        margin:0 auto;
    }

    .banner-text{
        text-align: center;
        justify-content: center;
    }
    .left-container{
        display:none;
    }

    .right-container-1,.right-container-2,.right-container-3{
        flex-direction: column;
    }

    .class-image-container{
        flex-direction: column;
    }

    .class-image-container img, p{
        display:none;
    }

    .thesis-right-container{
        display:none;
    }
  }